{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% import '@PrestaShop/Admin/macros.html.twig' as ps %}

{% block content %}
  {{ form_start(form) }}
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">settings</i> {{ 'Article form' }}
        </h3>

        <div class="card-block row">
          <div class="card-text">
            <div class="form-group row">
              <label class="form-control-label">{{ 'Choose Type' }}</label>
              <div class="col-sm">
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
              </div>
            </div>

            <div class="form-group row">
              <label class="form-control-label">{{ 'Choose Name' }}</label>
              <div class="col-sm">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
              </div>
            </div>

            <div class="form-group row">
              <label class="form-control-label">{{ 'Choose Name' }}</label>
              <div class="col-sm">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
              </div>
            </div>

{#            <div class="form-group row">#}
{#              <label class="form-control-label">{{ 'Number of attendees'|trans({}, 'Modules.Pstraining.Admin') }}</label>#}
{#              <div class="col-sm">#}
{#                {{ form_errors(form.number_of_attendees) }}#}
{#                {{ form_widget(form.number_of_attendees) }}#}
{#              </div>#}
{#            </div>#}

{#            <div class="form-group row">#}
{#              <label class="form-control-label">{{ 'Date' }}</label>#}
{#              <div class="col-sm">#}
{#                {{ form_errors(form.date) }}#}
{#                {{ form_widget(form.date) }}#}
{#              </div>#}
{#            </div>#}

{#            <div class="form-group row">#}
{#              <label class="form-control-label">{{ 'Notes' }}</label>#}
{#              <div class="col-sm">#}
{#                {{ form_errors(form.notes) }}#}
{#                {{ form_widget(form.notes) }}#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}

      {% block javascripts %}
        {{ parent() }}

        {% include '@PrestaShop/Admin/Sell/Catalog/Categories/Blocks/javascripts.html.twig' %}
      {% endblock %}

